body {
  background-color: rgb(255, 150, 199);
}

#board {
  width: 1350px;
  height: 600px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color: rgb(255, 24, 136);
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
  left: 500px;
  top: 250px;
}

#swimmer {
  background-color: rgb(171, 93, 255);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1000px;
  top: 250px;
  border-radius: 50px;
}

#instructions_container {
  left: 25%;
  top: 10%;
  width: 40%;
  padding: 20px;
  z-index: 1111;
  background-color: pink;
  border: 5px dotted rgb(183, 50, 219);
  box-shadow: 0px 0px 10px rgb(203, 113, 227);
  position: absolute;
  display: none;

}

#instructions {
  background-color: antiquewhite;
  border-radius: 20px;
  width: 10%;
  height: 5%;
  margin: 10px;

}

#close_button {
  float: right;
  cursor: pointer;
}