
body {
  background-color: rgb(233, 35, 91);
}

#board {
  width: 1340px;
  height: 590px;
  border: 5px dotted rgb(249, 245, 246);
  background-color: rgb(242, 129, 157);
  position: relative;
}

#leftPaddle {
  background-color: rgb(6, 5, 0);
  width: 25px;
  height: 100px;
  border-radius: 20px;
  
  /* positioning */
  position: absolute;
  top: 230px;
  left: 100px;

}

#rightPaddle {
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 100px;
  border-radius: 20px;
  
  /* positioning */
  position: absolute;
  top: 230px;
  left: 1200px;

}

#ball {
  background-color: rgb(156, 235, 212);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  
  /* positioning */
  position: absolute;
  top: 250px;
  left: 630px;

}

/*button stuff*/

#change_themes {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 6px;
  border:rgb(6, 5, 0);
}

#instructions {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 6px;
  border:rgb(6, 5, 0);
}


  



