#fullContainer {
    width:100%;
    background-color: antiquewhite;
}
#buttonContainer {
    margin:auto;
    width: 40%;
    
}
#goButton {
    margin: auto;
    width: 100%;
    border: 2px rgb(249, 66, 115) double;
    background: rgb(249, 179, 214);
    font-size: 30px;
    border-radius: 30px;
}
#sortContainer {
    display: table;
    margin: 0 auto;
    width: 100%;
    background-color: antiquewhite;
}
.subContainer {
    display: inline-block;
    width:45%;
    border: 4px rgb(249, 66, 115) groove;
    margin-top: 1.25%;
    border-radius: 30px;
}
#bubbleArea {
    margin-left: 2.5%;
    background-color: rgb(177, 231, 252);
}
#quickArea {
    margin-left: 3.75%;
    background-color: rgb(121, 165, 226);
}
.subContainer > h2 {
    margin-left: 5%;
    height: 32px;
    margin-top: 0;
}
.sortElement {
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}
.subContainer > div {
    position: relative;
}
.bubbleElement {
    background: url('http://images.shoutwiki.com/sanrio/2/23/Cinnamoroll.png');
    /*border: 2px aqua ridge;*/
}
.quickElement {
    background: url('https://upload.wikimedia.org/wikipedia/en/0/05/Hello_kitty_character_portrait.png');
    /*border: 2px firebrick ridge;*/
}